<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="fignya.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Fignya</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NEWS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Politics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Travel</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<section class="content">
    <div class="card mb-3" style="max-width: 1080px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="hotel6.jpg" class="card-img" alt="photo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

<!--landing (home):-->
<!--  - list of last 8 news-->
<!--  - search function-->

<!--news detail:-->
<!--  - detail info of news-->
<!--  - Optional. Create views field for news model. field is used to count number of views.-->

<!--contact:-->
<!--  - contact form-->
<!--  - Optional. Send saved information to the admins email-->

<!--news:-->
<!--  - title-->
<!--  - content (optional. install ckeditor)-->
<!--  - image-->
<!--  - created_at-->